<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mySection" type="MyRandomSamples.MySection, MyRandomSamples" /> 
  </configSections>

  <mySection>
    <MyCollection default="one">
      <entry name="one" number="1"/>
      <entry name="two" number="2"/>
      <entry name="three" />
    </MyCollection>
  </mySection>
</configuration>